[Desktop Entry]
Name=CareStack
Comment=Open Practice's CareStack Portal
Exec=chromium-browser --app=https://necdsa.carestack.com
Icon=carestack
Terminal=false
Type=Application
Categories=Office;
